<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TCHS</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <style>
        /* Custom Stylesheet for Table Sorting */
        .sortable th {
            cursor: pointer;
        }
        .sortable th .arrow {
            font-size: 12px;
            margin-left: 5px;
            display: none;
        }
        .sortable th.sort-asc .arrow.asc,
        .sortable th.sort-desc .arrow.desc {
            display: inline;
        }
    </style>
</head>

<body>
    
    <div class="container-xxl position-relative bg-light d-flex p-0">
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
              <a href="{{ url_for('entraineur') }}" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary">TCHS</h3>
              </a>
              <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                  <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
      
              </div>
              <div class="navbar-nav w-100">
                <a href="{{ url_for('entraineur') }}" class="nav-item nav-link active">
                  <i class="fa fa-tachometer-alt me-2"></i>Dashboard
                </a>
      
                <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-user me-2"></i>Groupe
                  </a>
                  <div class="dropdown-menu bg-transparent border-0">
                    <a href="{{ url_for('ajouter_utilisateur') }}" class="dropdown-item">
                      <i class="fa fa-user-plus me-2"></i>Ajouter un Groupe
                    </a>
                    <a href="{{ url_for('gerer_groupes') }}" class="dropdown-item">
                      <i class="fa fa-users-cog me-2"></i>Gérer Les Groupes
                    </a>
                  </div>
                </div>
                <div class="nav-item">
                  <a href="{{ url_for('equipement') }}" class="nav-link">
                      <i class="fa fa-trophy me-2"></i>Tournois
                  </a>
              </div>
              <div class="nav-item">
                  <a href="{{ url_for('equipement') }}" class="nav-link">
                      <i class="fa fa-boxes me-2"></i>Équipement
                  </a>
              </div>
      
      
              <!-- Déconnexion -->
              <div class="nav-item">
                  <a href="{{ url_for('logout') }}" class="nav-link">
                      <i class="fa fa-sign-out-alt me-2"></i>Déconnecter
                  </a>
              </div>
              </div>
            </nav>
          </div>
       
        <div class="container-fluid">
            <div class="row h-200 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8">
                    <div>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="{{ url_for('entraineur') }}">
                                <h3 class="text-primary text-center">TCHS.</h3>
                            </a>
                        </div>
                        <form class="d-none d-md-flex">
                            <input id="searchInput" class="form-control border-1" type="search" placeholder="Rechercher un utilisateur" onkeyup="rechercherUtilisateur()">
                        </form>
                        <div class="table-responsive">
                            <table id="UtilisateursTable" class="table text-start align-middle table-bordered table-hover mb-0 sortable">
                                <thead>
                                    <tr class="text-dark">
                                        <th onclick="sortTable(0)">Groupes<span class="arrow asc">&#9650;</span><span class="arrow desc">&#9660;</span></th>
                                        <th>Adhérents</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in groupes_data %}
                                        <tr>
                                            <td>{{ data.groupe.nom_groupe }}</td>
                                            <td>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Nom</th>
                                                            <th>Prénom</th>
                                                            <th>Matricule</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for adherent in data.adherents %}
                                                            <tr>
                                                                <td>{{ adherent.nom }}</td>
                                                                <td>{{ adherent.prenom }}</td>
                                                                <td>{{ adherent.matricule }}</td>
                                                                <td>
                                                                    <a class="btn btn-sm btn-primary" href="{{ url_for('associer_adherent_autre_groupe', id=adherent.adherent_id) }}">Modifier</a>
                                                                    <a class="btn btn-sm btn-danger" href="{{ url_for('supprimer_adherent_groupe', id=adherent.adherent_id) }}">Supprimer</a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-primary" href="{{ url_for('ajouter_adherent_groupe', groupe_id=data.groupe.id_groupe) }}">Ajouter un adhérent</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='lib/chart/chart.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/chart/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    <script>
        function sortTable(columnIndex) {
            var table = document.getElementById("UtilisateursTable");
            var rows = Array.prototype.slice.call(table.tBodies[0].rows, 0);
            var sortedRows;
            var currentSortOrder = table.querySelector('th:nth-child(' + (columnIndex + 1) + ')').classList.contains('sort-asc') ? 'asc' : 'desc';

            // Inverser l'ordre de tri
            if (currentSortOrder === 'asc') {
                sortedRows = rows.sort(function(a, b) {
                    return a.cells[columnIndex].textContent.localeCompare(b.cells[columnIndex].textContent);
                });
                table.querySelectorAll('th').forEach(th => th.classList.remove('sort-asc', 'sort-desc'));
                table.querySelector('th:nth-child(' + (columnIndex + 1) + ')').classList.add('sort-desc');
            } else {
                sortedRows = rows.sort(function(a, b) {
                    return b.cells[columnIndex].textContent.localeCompare(a.cells[columnIndex].textContent);
                });
                table.querySelectorAll('th').forEach(th => th.classList.remove('sort-asc', 'sort-desc'));
                table.querySelector('th:nth-child(' + (columnIndex + 1) + ')').classList.add('sort-asc');
            }

            // Réattacher les lignes triées
            var tbody = table.tBodies[0];
            tbody.innerHTML = '';
            sortedRows.forEach(function(row) {
                tbody.appendChild(row);
            });
        }

        function rechercherUtilisateur() {
            var input = document.getElementById("searchInput");
            var filter = input.value.toLowerCase();
            var table = document.getElementById("UtilisateursTable");
            var lignes = table.querySelectorAll("tbody tr");

            lignes.forEach(ligne => {
                if (ligne.innerHTML.toLowerCase().includes(filter)) {
                    ligne.style.display = "";
                } else {
                    ligne.style.display = "none";
                }
            });
        }
    </script>
</body>

</html>
