<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TCHS</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    {% include 'sidebar.html' %}
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Sign In Start -->
        <div class="container-fluid bg-light" >
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="{{ url_for('admin') }}">
                                <h3 class="text-primary text-center">TCHS.</h3>
                            </a>
                        </div>
                        <form method="post" action="{{ url_for('modifier_utilisateur', id=utilisateur.id) }}">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInputUtilisateur" name="utilisateur" placeholder="Utilisateur" value="{{ utilisateur.utilisateur }}" required>
                                        <label for="floatingInputUtilisateur">Utilisateur</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingInputPassword" name="password" placeholder="" required>
                                        <label for="floatingInputPassword">Password</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating mb-3">
                                        <select id="role" name="role" class="form-control" required>
                                            <option value="" disabled>Role</option>
                                            <option value="admin" {% if utilisateur.role == 'admin' %}selected{% endif %}>admin</option>
                                            <option value="directeur_technique" {% if utilisateur.role == 'directeur_technique' %}selected{% endif %}>Directeur Technique</option>
                                            <option value="entraineur" {% if utilisateur.role == 'entraineur' %}selected{% endif %}>Entraineur</option>
                                            <option value="finance" {% if utilisateur.role == 'finance' %}selected{% endif %}>Agent Administratif</option>
                                            
                                        </select>
                                        <label for="role">Role</label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Confirmer</button>
                        </form>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='lib/chart/chart.min.js') }}" rel="stylesheet"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/chart/chart.min.js') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}" rel="stylesheet"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}" rel="stylesheet"></script>
</body>

</html>
