<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="{{ url_for('admin') }}" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">TCHS 🎾</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            
        </div>
        <div class="navbar-nav w-100">
            <a href="{{ url_for('admin') }}" class="nav-item nav-link active">
                <i class="fa fa-tachometer-alt me-2"></i>Dashboard
            </a>
        
            <!-- Utilisateurs Dropdown -->
<div class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa fa-user me-2"></i>Utilisateurs
</a>
<div class="dropdown-menu bg-transparent border-0">
<a href="{{ url_for('ajouter_utilisateur') }}" class="dropdown-item">
    <i class="fa fa-user-plus me-2"></i>Ajouter un Utilisateur
</a>
<a href="{{ url_for('gerer_utilisateur') }}" class="dropdown-item">
    <i class="fa fa-users-cog me-2"></i>Gérer Les Utilisateurs
</a>
</div>
</div>

<!-- Adhérents Dropdown -->
<div class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa fa-users me-2"></i>Adhérents
</a>
<div class="dropdown-menu bg-transparent border-0">
<a href="{{ url_for('ajouter_adherent') }}" class="dropdown-item">
    <i class="fa fa-user-plus me-2"></i>Ajouter un Adhérent
</a>
<a href="{{ url_for('gerer_adherent') }}" class="dropdown-item">
    <i class="fa fa-users-cog me-2"></i>Gérer Les Adhérents
</a>
<a href="{{ url_for('recherche_abonnements') }}" class="dropdown-item">
    <i class="fa fa-users-cog me-2"></i>Abonnements
</a>
</div>
</div>

<!-- Entraîneurs Dropdown -->
<div class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa fa-chalkboard-teacher me-2"></i>Entraîneurs
</a>
<div class="dropdown-menu bg-transparent border-0">
<a href="{{ url_for('ajouter_entraineur') }}" class="dropdown-item">
    <i class="fa fa-chalkboard-teacher me-2"></i>Ajouter un Entraîneur
</a>
<a href="{{ url_for('gerer_entraineur') }}" class="dropdown-item">
    <i class="fa fa-users-cog me-2"></i>Gérer Les Entraîneurs
</a>


   

</div>
</div>



<div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <i class="fa fa-credit-card me-2"></i>Paiements    
        </a>
    <div class="dropdown-menu bg-transparent border-0">
        <a href="{{ url_for('paiement') }}" class="dropdown-item">
            <i class="fa fa-credit-card"> </i>  Ajouter un Paiement
        </a>
        <a href="{{ url_for('recherche_paiements') }}" class="dropdown-item">
            <i class="fa fa-list"> </i>  Gérer Les Paiements
        </a>
    </div>
</div>

<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <i class="fa fa-search"></i>Situations    
    </a>
<div class="dropdown-menu bg-transparent border-0">
    <a href="{{ url_for('show_situation_adherent') }}" class="dropdown-item">
        <i class="fa fa-search"></i>Situation Adherent
    </a>
    <a href="{{ url_for('show_situation_paiement') }}" class="dropdown-item">
        <i class="fa fa-search"></i>Situation Paiements
    </a>
    <a href="{{ url_for('show_situation_terrains') }}" class="dropdown-item">
        <i class="fa fa-search"></i>Situation Terrains
    </a>
    <a href="{{ url_for('situation_presence') }}" class="dropdown-item">
        <i class="fa fa-search"></i>Situation Presence
    </a>
</div>
</div>
        
            <!-- Abonnement, Locations, Equipement -->
            
            
            <div class="nav-item">
                <a href="{{ url_for('gestion_cotisations') }}" class="nav-link">
                    <i class="fa fa-file-invoice-dollar"></i>Cotisations
                </a>
            </div>
            
            

            <div class="nav-item">
                <a href="{{ url_for('locations_terrains') }}" class="nav-link">
                    <i class="fa fa-home me-2"></i>Locations 
                </a>
            </div>
            
            <div class="nav-item">
                <a href="{{ url_for('tournois') }}" class="nav-link">
                    <i class="fa fa-trophy me-2"></i>Tournois
                </a>
            </div>
            <div class="nav-item">
                <a href="{{ url_for('calendrier') }}" class="nav-link">
                    <i class="fa fa-calendar me-2"></i>Calendrier
                </a>
            </div>
            <div class="nav-item">
                <a href="{{ url_for('directeur_technique') }}" class="nav-link">
                    <i class="fa fa-boxes"></i>Gestions
                </a>
            </div>

            <div class="nav-item">
                <a href="{{ url_for('show_autres_paiements') }}" class="nav-link">
                    <i class="fa fa-money-bill"></i>Dépenses
                </a>
            </div>
            <div class="nav-item">
                <a href="{{ url_for('discussions') }}" class="nav-link">
                  <i class="fab fa-facebook-messenger"></i>Discussions
                </a>
            </div>

            <!-- Déconnexion -->
            <div class="nav-item">
                <a href="{{ url_for('logout') }}" class="nav-link">
                    <i class="fa fa-sign-out-alt me-2"></i>Déconnecter
                </a>
            </div>


        </div>
        
    </nav>
</div>
<!-- Sidebar End -->